<h1>Sample App</h1>

<p>
  Welcome to the Sample App! Click the link below  to activate your account:
</p>

<%= link_to "Activate Your Account", edit_account_activation_url(@user.activation_token, email: @user.email)%>
